{# src/templates/default/sidebar.html.twig #}

<section class="section">
    <header>
        <h3>Login/Register</h3>
    </header>

         <li class="sb-link"><a class="nav-item" href="#"><i class="fas fa-user-plus"></i> {% trans %}login.register{% endtrans %}</a></li>

         {% if app.user %}
         <li class="sb-link"><a href="#"><i class="fas fa-sign-out-alt"></i>  {% trans %}login.logout{% endtrans %}</a></li>
       {% else %}
         <li class="sb-link"><a href="#"><i class="fas fa-sign-in-alt"></i>  {% trans %}login.login{% endtrans %}</a></li>
       {% endif %}
</section>

<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>

        <p>There are no recent comments</p>
</section>

<section class="section">
    <header>
        <h3>Tag Cloud</h3>
    </header>
    <p class="tags">

    </p>
</section>

<section class="section">
    <header>
        <h3>Software Version:</h3>
    </header>
    <p>
        MustanX CMS <font size="-1">v{{ shivas_app_version }}</font>
    </p>
</section>
