{# templates/base.html.twig #}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html" ;=";" charset="utf-8" />
  <!-- | Important for Responsive | -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}
    MustangX - Welcome
    {% endblock title %}
  </title>

  {% block stylesheets %}
  <!-- Google Fonts CSS -->
  <link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- FontAweSome min CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link href="{{ asset('css/master.css') }}" type="text/css" rel="stylesheet" />
  {% endblock stylesheets %}


  <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />
</head>

<body>

  <div id="blog" class="container">
    <!--|| Locale Switch ||-->
    <br />
    <div class="row">
      <div class="col-xs-3 col-sm-1 col-md-1 col-xs-offset-6 col-sm-offset-10 col-md-offset-10">
        <a href="/en" class="thumbnail">
          <img src="{{ asset('images/flags/us.png') }}" alt="english">
        </a>
      </div>
      <div class="col-xs-3 col-sm-1 col-md-1">
        <a href="/de" class="thumbnail">
          <img src="{{ asset('images/flags/de.png') }}" alt="german">
        </a>
      </div>
    </div>

    {% block header %}
    <div class="row">
      <div class="col-md-12">
        <header id="header">
          <hgroup>
            <h2>
              {% block blog_title %}
              <a href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}" /><!-- {{ 'site.title'|trans }} --></a>
              </img>
              {% endblock blog_title %}
            </h2>
            <h3>
              {% block blog_tagline %}
              <a href="{{ path('home') }}">{{ 'site.tagline'|trans }}</a>
              {% endblock blog_tagline %}
            </h3>
          </hgroup>
        </header>
      </div>
    </div>
    {% endblock header %}

    {% block navbar %}
    <nav class="navbar navbar-default" role="navigation">

      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-simples">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('home') }}" style="color:#105ea0">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            {{ 'nav.home'|trans }}
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-simples">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ path('about') }}" style="color:#337ab7">
                <span class="glyphicon glyphicon-page" aria-hidden="true"></span>
                {{ 'nav.about'|trans }}
              </a>
            </li>
            <li>
              <a href="{{ path('contact') }}" style="color:#337ab7">
                <span class="glyphicon glyphicon-page" aria-hidden="true"></span>
                {{ 'nav.contact'|trans }}
              </a>
            </li>
            <li>
              <a href="{{ path('search') }}" style="color:#337ab7">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                {{ 'nav.search'|trans }}
              </a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    {% endblock navbar %}

    <div class="panel panel-default">

      <div class="panel-body">
        <div class="container-fluid">

          <!--|| The content of the Homepage will be here ||-->
          <section class="main-col">
            {% block body %}{% endblock body %}
          </section>
          <!--|| The content of the Sidebar will be here ||-->
          <aside class="wrapper sidebar">
            {% block sidebar %}{% endblock sidebar %}
          </aside>

        </div>
      </div>
      {% block footer %}
      <!--|| Share in social networks the page that the user is reading ||-->
      <div class="panel-footer">

        <div id="socialNetworks" class="text-center">
          <a id="shareFB" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            <i class="fab fa-facebook-square fa-3x" alt="Share on Facebook"></i> </a> <a id="shareTW" target="_blank" href="http://twitter.com/home?status={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            <i class="fab fa-twitter-square fa-3x" alt="Share on Twitter"></i> </a> </div>
        <div id="footerInfo" class="text-center">

          &copy; 2017-{{ "now" | date("Y") }}
          <a href="hyperclock@werxlab.org">JMColeman</a>.
          <br>
          <a href="#">{{ 'legal.terms'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#">{{ 'legal.disclaimer'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="">{{ 'legal.privacy'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#">{{ 'legal.trademarks'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#">{{ 'legal.legal-notice'|trans }}</a>

        </div>
      </div>
      {% endblock footer %}
    </div>

    {% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- FontAweSome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    <!--Custom JS -->
    <script type="text/javascript" src="{{ asset('js/master.js') }}"></script>
    {% endblock javascripts %}

  </div>
</body>
</html>
